/* Estilos Globales */
.flex {
    display: flex;
    justify-content: center;
}

/* Estilos Header */
.descuentos {
    display: flex;
    background-color: #1CD1B0;
    height: 38px;
    align-items: center;
    padding: 0 20px;
}

.heroes {
     display: flex;
     padding: 0 20px;
     background-color: #00669F;
     height: 101px;
     align-items: center;
     font-size: 40px;
}

/* Estilos cards personajes */

article {
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fondo-batman {
    display: flex;
    position: top;
}

.foto-batman {
    border-radius: 50%;
    position: relative;
    bottom:60px;
}
